img.resort-logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.logo-wrapper {
  width: 80px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 3px rgb(237 237 237);
  padding: 4px;
  border-radius: 4px;
  color: #d5dbe3;
}

.resort-name {
  font-size: 14px;
  font-weight: bold;
}

.resort-content {
  border-top: 1px solid #e2e8f0;
}

// TODO: extract ellipsis to a mixin
.resort-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.slopes {
  color: white;

  > span::before {
    content: '';
    display: block;
    width: 16px;
    height: 10px;
    border-radius: 6px;
    margin-right: 4px;
  }

  > span:nth-child(1) {
    color: #0666ae;

    &::before {
      background-color: #0666ae;
    }
  }

  > span:nth-child(2) {
    color: #e31c22;

    &::before {
      background-color: #e31c22;
    }
  }

  > span:nth-child(3) {
    color: #1a1a18;

    &::before {
      background-color: #1a1a18;
    }
  }
  > span:nth-child(4) {
    color: #eec137;

    &::before {
      background-color: #eec137;
    }
  }
}
